.small-button {
  background-color: white;
  padding: 5px;
  border: 1px solid $thanou-purple;
  font-size: 13px;
  color: $thanou-purple;
  border-radius: 10px;
  &:hover {
    color: $thanou-fluo;
    text-decoration: none;
    border: 1px solid $thanou-fluo;
  }
}

.button-vote {
  margin-left: 5px;
}

.medium-button {
  background-color: $thanou-purple;
  padding: 8px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: $thanou-fluo;
  }
}
