.link-index-page {
  h2 {
    a {
      color: $thanou-purple;
      &:hover {
        color: $thanou-fluo;
        text-decoration: none;
      }
    }
  }
}


.link-show-page {
  h1 {
    a {
      color: $thanou-purple;
      &:hover {
        color: $thanou-fluo;
        text-decoration: none;
      }
    }
  }
}
