// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


// Headings

h2 {
  font-size: 25px;
}

h1 {
  font-size: 40px;
  color: $thanou-purple;
}

h6 {
  color: $thanou-fluo;
}


#main_content {
  // border-bottom: 1px solid #e9e9e9;

  #content {
    float: none;
  }
  padding-bottom: 100px;
  .link {
    padding: 2em 1em;


    .title {

      a {
        color: #FF4500;
      }
    }
  }
  .comments_title {
    margin-top: 2em;
  }
  #comments {
    .comment {
      padding: 1em 0;
      border-top: 1px solid #E9E9E9;
      .lead {
        margin-bottom: 0;
      }
    }
  }
}
